@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    filter: brightness(135%);
    font-family: "Teko";
    --clr-dark: #222222;
    --clr-light: silver;
    --clr-cyan: #006ea4;
    --fs-small: 1.35rem;
    --fs-medium: 1.8rem;
    --fs-large: 2.3rem;
    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;

    --line-h: 1.8rem;
}
a{
    text-decoration: none;
}
img{
    filter: brightness(90%);
    display: block;
    max-width: 100%;
}
body{
    background-color: var(--clr-dark);
    height: 100vh;
    color: var(--clr-light);
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
}


header{
    justify-self: center;
    max-width: 1300px;
    width: 100%;
    background-color: var(--clr-cyan);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    padding: 0.3rem 2rem;
}

header > nav{
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.header__logo{
    justify-self: start;
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}

.header__menu{
    color: var(--clr-light);
    font-size: var(--fs-medium);
    font-weight: var(--fw-light);
    min-width: max-content;
}
.header__menu:hover{
    background-color: var(--clr-dark);
}

footer{
    background-color: var(--clr-cyan);
    justify-self: center;
    max-width: 1300px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0.3rem 2rem;
}

.footer_copyright{
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
    justify-self: start;
}

.footer__last{
    justify-self: end;
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
}

.footer__social{
    display: flex;
    gap: 1.5rem;
}
.footer__link{
    color: var(--clr-light);
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
}
main{
    position: relative;
    background-color: var(--clr-light);
    max-width: 1300px;
    width: 100%;
    justify-self: center;
    overflow-y: scroll;
    color: var(--clr-dark);
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 5.6rem;
}

.main__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    justify-items: center;
    align-items: center;
    background-color: darkgray;
}
.main__portfolio{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: stretch;
}
.main__portfolio-title{
    grid-column: 1 / -1;
    width: 100%;
    text-align: left;
}
.main__portfolio-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: .8rem;
    color: var(--clr-dark) !important;
    padding: .3rem;
    border-bottom: .1rem solid var(--clr-dark);
}

.main__potfolio-type{
    font-size: var(--fs-medium);
    font-weight: var(--fw-light);
}
.main__portfolio-text{
    flex-grow: 1;
    max-height: 5rem;
    overflow-y: scroll;
}
.main__portfolio-link{
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    align-self: flex-end;
    color: var(--clr-dark);
}
.main__portfolio-link:hover{
    color: var(--clr-dark);
}
.main__portfolio-box-title{
    font-size: var(--fs-medium) !important;
    font-weight: var(--fw-medium) !important;
    background-color: transparent !important;
    color: var(--clr-dark) !important;
}
.main__portfolio-box-title:hover{
    color: var(--clr-light);
}
.main__portfolio-box > img{
    width: 100%;
    height: 300px;
    box-shadow: 0 .5rem 1rem .1rem var(--clr-dark);
}
.main__about-text{
    height: 100%;
    justify-self: stretch;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
}

.main__img{
    align-self: start;
}

.main__img{
    box-shadow: .5rem .5rem 2rem .3rem var(--clr-dark);
}
.main__about-img{
    box-shadow: -0.5rem .5rem 2rem .3rem var(--clr-dark);
}

.main__title{
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    background-color: var(--clr-cyan);
    color: var(--clr-light);
}
.main__subtitle{
    font-size: var(--fw-medium);
    font-weight: var(--fw-light);
    background-color: var(--clr-dark);
    color: var(--clr-cyan);
}
.main__text{
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
    color: var(--clr-dark);
    max-width: 600px;
    line-height: var(--line-h);
}

.main__info{
    height: 100%;
    align-self: start;
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: start;
}
.main__btn-mail{
    align-self: end;
    justify-self: end;
    padding: 0 2rem;
    background-color: var(--clr-cyan);
    color: var(--clr-light);
    border-radius: 0.9rem;
    font-size: var(--fs-medium);
    font-weight: var(--fw-light);
}
.main__btn-mail:hover{
    background-color: var(--clr-dark);
}
@media screen and (max-width: 650px){
    header{
        grid-template-columns: 1fr;
    }
    header > nav{
        justify-self: center;
    }
    .header__logo{
        justify-self: center;
    }
    main{
        overflow-y: visible;
    }
    footer{
        grid-template-columns: 1fr;
    }
    .footer_copyright, .footer__last{
        justify-self: center;
    }
    .main__btn-mail{
        align-self: center;
    }
    .main__portfolio{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1100px){
    main{
        gap: 3rem;
    }
    .main__info{
        justify-self: stretch;
    }
    .main__btn-mail{
        align-self: start;
    }
    .main__about-text{
        justify-self: stretch;
    }
    .main__home, .main__about-me{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    
}